<?xml version='1.0' encoding='UTF-8'?>
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product
      Name='Foobar 1.0'
      Version='1.0.0'
      Manufacturer='Acme Ltd.'
      Language='1033'
      UpgradeCode='3989bcb8-879b-4d38-86eb-17836baaf504'
      Id='*'
      >
    <Package InstallerVersion='450' Compressed='yes' InstallScope="perMachine"/>
    <MediaTemplate EmbedCab="yes"/>
    <WixVariable Id="WixUILicenseRtf" Value="..\License.rtf"/>
    <WixVariable Id="WixUIBannerBmp" Value="..\imgTop.png"/>
    <WixVariable Id="WixUIDialogBmp" Value="..\imgLeft.png"/>
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='Acme' Name='Acme'>
          <Directory Id='INSTALLDIR' Name='Foobar 1.0'>
            <Component Id='ReadMe.component'>
              <File Id='ReadMe.fileID' Name='FoobarAppl10.txt' Source='FoobarAppl10.txt' KeyPath='yes'/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id='Complete'>
      <ComponentRef Id='ReadMe.component'/>
    </Feature>

    <UI>
      <UIRef Id="WixUI_Mondo" />
      <DialogRef Id="HelloworldDlg" />

      <!-- Dialogs are like doubly linked list.
           To chain two dialogs, you must set A.next to B, and B.back to A
           To set X.next to Y you must use the Publish element.
           Within your custom dialog, the Publish element must be in a Control element.
             -->
      <Publish Dialog="LicenseAgreementDlg"   Control="Next" Event="NewDialog" Value="HelloworldDlg" Order="3">LicenseAccepted = "1"</Publish>
      <Publish Dialog="LicenseAgreementDlg"   Control="Back" Event="NewDialog" Value="HelloworldDlg">1</Publish>

      <Dialog Id="HelloworldDlg" Width="370" Height="270" Title="Hello World Dialog" NoMinimize="yes">
        <Control Id="NameLabel" Type="Text" X="45" Y="73" Width="100" Height="15" TabSkip="no" Text="&amp;Name of world:" />
        <Control Id="NameEdit" Type="Edit" X="45" Y="85" Width="220" Height="18" Property="NAME_OF_WORLD" Text="{110}" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>

    </UI>

  </Product>
</Wix>
