<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <CustomAction 
      Id="ReadConfig_IMCAC"            
      DllEntry='ReadConfig_IMCAC'            
      BinaryKey='CA1CA'
      Execute='firstSequence'/>

    <CustomAction 
      Id="WriteConfig_DECAC"
      DllEntry='WriteConfig_DECAC'
      BinaryKey='CA1CA' 
      Execute='deferred' 
      Return='check' 
      Impersonate='no'/>
    
    <CustomAction 
      Id="WriteConfig_CADH"
      Property="WriteConfig_DECAC"             
      Value="hello1=[HELLO1];hello2=[HELLO2]" />
  
    <Binary Id='CA1CA' SourceFile='CA1\obj\x86\Release\CA1.CA.dll'/>

  </Fragment>
</Wix>
