<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

  <CustomAction Id="ReadConfig_IMCAC"            
  BinaryKey='MinionConfigExt'
  DllEntry='ReadConfig_IMCAC'            Execute='firstSequence'/>

  <CustomAction 
    Id="WriteConfig_DECAC"
    BinaryKey='MinionConfigExt' 
    DllEntry='WriteConfig_DECAC'
    Execute='deferred' Return='check' Impersonate='no'/>
    
    <CustomAction Id="WriteConfig_CADH"
      Property="WriteConfig_DECAC"             
      Value="root_dir=[INSTALLFOLDER];master=[MASTER]" />
  
    <Binary Id='MinionConfigExt' SourceFile='CA1\obj\x86\Release\CA1.dll'/>
  </Fragment>
</Wix>
